/*/  ========================================================================
//   #PAGE
//   ======================================================================== */

html {
  @apply bg-preloader-bg
  text-fg-primary
  font-sans
  font-normal
  text-base
  leading-normal
  overflow-x-hidden
  no-scrollbar;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

a,
button {
  @apply cursor-pointer
  focus-visible:focus-ring-sm;
  -webkit-tap-highlight-color: transparent;

  /* :where is less specific than :not and can be
     overwritten by class selectors */
  &:not(:where(.button)) {
    @apply focus-visible:focus-ring-md
    rounded-sm;
  }
}

hr {
  @apply border-fg-secondary;
}

::-moz-selection {
  @apply bg-fg-primary
  text-bg-primary;
}

::selection {
  @apply bg-fg-primary
  text-bg-primary;
}

/* Resets */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}
