/*/  ========================================================================
//   #FONTS
//   ======================================================================== */

/* Display */
/* ------------------------ */
@font-face {
  font-family: 'tk-display';
  src: url('@/assets/fonts/display-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Mono */
/* ------------------------ */
@font-face {
  font-family: 'tk-display';
  src: url('@/assets/fonts/mono-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Serif */
/* ------------------------ */
@font-face {
  font-family: 'tk-serif';
  src: url('@/assets/fonts/serif-400-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Sans */
/* ------------------------ */
@font-face {
  font-family: 'tk-sans';
  src: url('@/assets/fonts/sans-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tk-sans';
  src: url('@/assets/fonts/sans-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tk-sans';
  src: url('@/assets/fonts/sans-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tk-sans';
  src: url('@/assets/fonts/sans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tk-sans';
  src: url('@/assets/fonts/sans-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
