/*/  ========================================================================
//   #CHECKBOX
//   ======================================================================== */

.checkbox {
  @apply relative;
}

.checkbox__label {
  @apply mr-[5px]
  cursor-pointer
  select-none
  touch-manipulation;

  &.is-card {
    @apply mr-0
    grid
    grid-rows-[max-content_1fr]
    gap-1
    h-full
    bg-surface-pale
    px-4
    py-3
    border-b
    border-front-pale
    rounded-lg
    transition;

    &:has(.checkbox__input:checked) {
      @apply border-transparent;
      box-shadow: inset 0 0 0 2px var(--color-primary);
    }
  }
}

.checkbox__input {
  @apply relative
  size-5
  appearance-none
  border
  border-front-pale
  rounded-[3px]
  transition
  cursor-pointer

  before:absolute
  before:-inset-3
  
  focus-visible:outline-2
  focus-visible:outline-primary
  focus-visible:outline-offset-2
  
  checked:border-transparent
  checked:bg-primary;

  &:user-invalid {
    @apply border-critical;
  }
}

.checkbox__icon {
  @apply absolute
  top-1
  left-[3px]
  text-back
  scale-0
  transition
  pointer-events-none
  origin-[33%_75%];

  .checkbox__input:checked + & {
    @apply scale-100;
  }
}

.checkbox__error {
  @apply hidden
  text-xs
  font-normal
  text-critical
  mt-1;

  .checkbox:has(.checkbox__input:user-invalid) & {
    @apply block;
  }
}