/*/  ========================================================================
//   #CONTENT
//   ======================================================================== */

.content {
  @apply max-w-[60ch]
  py-4;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display
    font-semibold
    text-2xl
    md:text-3xl
    leading-[1.1];
  }

  p {
    @apply text-sm
    md:text-base
    leading-relaxed
    not-first:mt-[1.2em];
  }
}
