/*/  ========================================================================
//   #NAV
//   ======================================================================== */

.nav__wrapper {
  @apply flex
  items-center
  gap-6
  sm:gap-8
  md:gap-12
  h-20
  md:h-24;
}

.nav__link {
  @apply relative
  text-front-subtle
  text-sm
  sm:text-base
  font-medium
  touch-manipulation
  before:absolute
  before:-inset-3;
}

.nav__link--dialog {
  @apply inline-block
  text-2xl;
}

.nav__dialog {
  @apply size-full
  m-0
  max-w-full
  max-h-full
  bg-transparent
  backdrop:bg-back
  backdrop:scale-y-0
  backdrop:transition
  backdrop:duration-400
  backdrop:delay-100
  backdrop:origin-top;

  &.is-open {
    @apply backdrop:scale-100
    backdrop:delay-0;
  }
}