/*/  ========================================================================
//   #CONTENT
//   ======================================================================== */

.content {
  *:not(:first-child, h1, h2, h3, h4, h5, h6, hr, li) {
    @apply mt-[1.33em];
  }

  hr {
    @apply mt-12 sm:mt-16
    pt-6 sm:pt-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply heading;

    &:not(:first-child) {
      @apply mt-12
      md:mt-16;
    }
  }

  hr + h1,
  hr + h2,
  hr + h3,
  hr + h4,
  hr + h5,
  hr + h6 {
    &:not(:first-child) {
      @apply mt-6 md:mt-8;
    }
  }

  h1 {
    @apply heading-xl;
  }

  h2 {
    @apply heading-lg;
  }

  h3 {
    @apply heading-md;
  }

  h4 {
    @apply heading-sm;
  }

  p,
  ul,
  ol {
    @apply body leading-relaxed;
  }

  ul {
    @apply ul;
  }

  ol {
    @apply ol;
  }

  a {
    @apply link;
  }

  blockquote {
    @apply relative
    pl-5
    md:pl-6
    before:absolute
    before:inset-y-0
    before:left-0
    before:w-[3px]
    before:bg-fg-primary
    before:rounded-full;

    p {
      @apply body font-semibold;
    }
  }
}
