/*/  ========================================================================
//   #THEME — Tailwind config
//   ======================================================================== */

@theme {
  /* Screen */
  /* ------------------------------------------- */
  --breakpoint-sm: 30rem;
  --breakpoint-md: 46.25rem;
  --breakpoint-lg: 61.25rem;
  --breakpoint-xl: 81.25rem;

  /* Font */
  /* ------------------------------------------- */
  --font-sans: 'tk-sans', Helvetica, Arial, sans-serif;
  --font-display: 'tk-display', Helvetica, Arial, sans-serif;
  --font-serif: 'tk-serif', ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: 'tk-mono', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Courier New', monospace;

  /* Color */
  /* ------------------------------------------- */
  --color-*: initial;

  --color-primary-front: #CDD388;
  --color-secondary-front: #F5F2E3;
  --color-tertiary-front: #F5F2E3;

  --color-primary-back: #3C796B;
  --color-secondary-back: #437182;
  --color-tertiary-back: #51793C;

  /* Motion */
  /* ------------------------------------------- */
  --ease-in: cubic-bezier(1, 0.4, 0.9, 0.2);
  --ease-out: cubic-bezier(0.2, 0.9, 0.4, 1);
  --ease-in-out: cubic-bezier(0.7, 0.27, 0.27, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

  --default-transition-duration: 300ms;
  --default-transition-timing-function: var(--ease-out);

  /* Z Index */
  /* ------------------------------------------- */
  --z-index-modal: 999;
  --z-index-navigation: 100;
  --z-index-messages: 50;
  --z-index-menu: 20;
  --z-index-raised: 10;
}
