/*/  ========================================================================
//   #ANIMATE
//   ======================================================================== */

@utility a {
  opacity: 0;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-timing-function: var(--ease-out);
}

/* Variants */
/* ---------------------------- */
@utility a-fi {
  @apply a;
  animation-name: fade-in;
}

@keyframes fade-in {
  to {
    opacity: 1;
    filter: none;
  }
}