/*/  ========================================================================
//   #REVEAL
//   ======================================================================== */

@utility reveal {
  @apply opacity-0
  ease-in-out
  duration-1500;
  transition-property: transform, filter, opacity;

  &.is-active {
    @apply opacity-100
    ease-out;
    transform: none;
    filter: none;
  }
}

@utility reveal--stag {
  &:nth-child(1) {
    transition-delay: 0ms;
  }
  &:nth-child(2) {
    transition-delay: 100ms;
  }
  &:nth-child(3) {
    transition-delay: 200ms;
  }
  &:nth-child(4) {
    transition-delay: 300ms;
  }
  &:nth-child(5) {
    transition-delay: 400ms;
  }
  &:nth-child(6) {
    transition-delay: 500ms;
  }
  &:nth-child(7) {
    transition-delay: 600ms;
  }
  &:nth-child(8) {
    transition-delay: 700ms;
  }
}
