/*/  ========================================================================
//   #ANIMATE
//   ======================================================================== */

@utility a {
  opacity: 0;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-timing-function: var(--ease-out);
}

/* Variants */
/* ---------------------------- */
@utility a-fi {
  @apply a;
  animation-name: fade-in;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* ---------------------------- */

@utility a-fi-50 {
  @apply a;
  animation-name: fade-in-50;
}

@keyframes fade-in-50 {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------------- */

@utility a-fi-up {
  @apply a;
  opacity: 0;
  transform: translateY(80px);
  animation-name: fade-in-up;
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}