/*/  ========================================================================
//   #CUSTOM UTILITIES
//   ======================================================================== */

/* ----------------------------------------------- */
/* Layout */
/* ----------------------------------------------- */

@utility main-grid {
  @apply grid
  grid-cols-[2fr_9fr_3fr]
  items-center
  gap-6;
}

@utility about-grid {
  @apply md:grid
  md:items-center
  md:grid-cols-2
  lg:grid-cols-[2fr_3fr]
  xl:grid-cols-[3fr_5fr];
}

/* ----------------------------------------------- */
/* Links */
/* ----------------------------------------------- */

@utility link {
  @apply relative
  inline-block
  touch-manipulation
  before:absolute

  before:top-[-1px]
  before:bottom-[-2px]
  before:inset-x-[-8px]

  md:before:top-[-3px]
  md:before:bottom-[-4px]
  md:before:inset-x-[-11px]

  before:transition
  before:duration-500
  before:bg-fg-primary
  before:rounded-full
  before:opacity-0
  before:blur-xs
  before:scale-110

  after:absolute
  after:-inset-3
  
  hover:text-bg-secondary
  hover:before:opacity-100
  hover:before:blur-none
  hover:before:scale-100;

  > * {
    @apply relative;
  }
}

/* ----------------------------------------------- */
/* Focus Rings */
/* ----------------------------------------------- */

@utility focus-ring {
  @apply outline-1
  outline-dashed
  outline-fg-primary;
}

@utility focus-ring-sm {
  @apply focus-ring
  outline-offset-2;
}

@utility focus-ring-md {
  @apply focus-ring
  outline-offset-4;
}

/* ----------------------------------------------- */
/* Misc */
/* ----------------------------------------------- */

@utility no-scrollbar {
  @apply [scrollbar-width:none]
  [&::-webkit-scrollbar]:hidden;
}

@utility transition-clr {
  @apply transition-colors
  duration-800;
}

@utility key {
  @apply text-fg-primary
  text-xs
  font-mono
  uppercase
  tracking-[0.16em];
}

@utility eyebrow {
  @apply font-mono
  text-xs
  uppercase
  tracking-[0.16em];
}
