/*/  ========================================================================
//   #CUSTOM UTILITIES
//   ======================================================================== */

/* ----------------------------------------------- */
/* Layout */
/* ----------------------------------------------- */

@utility main-grid {
  @apply lg:grid
  lg:grid-cols-[2fr_9fr_3fr]
  lg:items-center
  lg:gap-6;
}

/* ----------------------------------------------- */
/* Links */
/* ----------------------------------------------- */

@utility link {
  @apply underline
  underline-offset-2
  touch-manipulation;
}

@utility link-hover {
  @apply hover:underline
  underline-offset-2
  touch-manipulation;
}

@utility link-group-hover {
  @apply group-hover:underline
  underline-offset-2;
}

/* ----------------------------------------------- */
/* Focus Rings */
/* ----------------------------------------------- */

@utility focus-ring {
  @apply outline-1
  outline-dashed
  outline-fg-primary;
}

@utility focus-ring-sm {
  @apply focus-ring
  outline-offset-2;
}

@utility focus-ring-md {
  @apply focus-ring
  outline-offset-4;
}

/* ----------------------------------------------- */
/* Misc */
/* ----------------------------------------------- */

@utility no-scrollbar {
  @apply [scrollbar-width:none]
  [&::-webkit-scrollbar]:hidden;
}

@utility transition-fg {
  @apply transition-colors
  duration-800;
}

@utility key {
  @apply text-fg-primary
  text-xs
  font-mono
  uppercase
  tracking-[0.16em];
}
