/*/  ========================================================================
//   #ANIMATE
//   ======================================================================== */

@utility a {
  opacity: 0;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-timing-function: theme('transitionTimingFunction.DEFAULT');
}

/* Variants */
/* ---------------------------- */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@utility a-fi {
  animation-name: fade-in;
}

/* ---------------------------- */
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@utility a-fo {
  opacity: 1;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-name: fade-out;
}

/* ---------------------------- */

@keyframes fade-in-50 {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@utility a-fi-50 {
  animation-name: fade-in-50;
}
